<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ if .Page.Title }}
  <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
  {{ else }}
  <title>{{ .Site.Title }}</title>
  {{ end }}
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="author" content='{{ .Site.Params.author }}'>

  {{ $scratch := newScratch }}
  {{ if or (eq .Site.Params.color "auto") (eq .Site.Params.color "dark") (eq .Site.Params.color "light") }}
    {{ $scratch.Set "color" (replace "css/colors-COLOR.scss" "COLOR" .Site.Params.color) }}
  {{ else }}
    {{ $scratch.Set "color" "css/colors-auto.scss" }}
  {{ end }}
  {{ $mycolor:= $scratch.Get "color" }}
  {{ $colors := resources.Get $mycolor | resources.ExecuteAsTemplate $mycolor . | toCSS | minify }}
  <link rel="stylesheet" href="{{ $colors.RelPermalink }}">
  {{ $style := resources.Get "css/style.scss" | resources.ExecuteAsTemplate "css/style.scss" . | toCSS | minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  <script>
    /* to prevent Firefox FOUC, this must be here */
    let FF_FOUC_FIX;
  </script>

  {{ with .Site.Params.logo }}
  <link rel="preload" href="{{ . | absURL}}" as="image">
  {{ end }}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

  {{ with .Site.Params.favicon }}
  <link rel="icon" type="image/ico" href="{{ . | absURL }}">
  {{ end }}

  {{ $script := resources.Get "js/scale.fix.js" }}
  <script async src="{{ $script.RelPermalink }}"></script>
</head>
