<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color:var(--clr-h1-and-bold);
      text-decoration:none;
    }

    ul.link a:hover, a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>

  <ul class="link">
    {{ $current := . }}
    {{ range $menu := .Site.Params.menu }}
    <li><a class='{{ if eq (trim $current.RelPermalink "/") ( trim $menu.link "/" ) }}menu-active{{ end }}' href="{{ $menu.link }}"><span class="{{ $menu.icon }}"></span>&nbsp;{{ $menu.name }}</a></li>
    {{ end }}
  </ul>
</div>
